// supported font weight 100 200 300 400 500 600
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
}

.text-center{
  text-align: center;
}
.page-enter-active, .page-leave-active {
  transition: all .3s ease-in-out;
  opacity: 1;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
.mb{
  margin-bottom: 2rem;

}
