<template>
	<article class="post">
		<header class="post__header">
			<div class="post__title">
				<h1>{{ post.title }}</h1>
				<nuxt-link to="/">
					<i class="el-icon-back"></i>
				</nuxt-link>
			</div>
			<div class="post__info">
				<small><i class="el-icon-time"></i> {{ post.date }}</small>
				<small><i class="el-icon-view"></i> {{ post.views }}</small>
			</div>
			<div class="post__image">
				<img
						:src="post.imageUrl"
						class="post__image"
						alt="bmw"/>
			</div>
		</header>
		<main
				class="post__content"
		>
			<vue-markdown>{{ post.text }}</vue-markdown>
		</main>
		<footer class="post__footer">
			<!--form-->
			<app-comment-form
					@created="createCommentHandler"
					v-if="canAddComment"
					:postId="post._id"
			></app-comment-form>
			<div class="comments" v-if="post.comments.length">
				<app-comment
						v-for="comment in post.comments"
						:key="comment._id"
						:comment="comment"
				/>
			</div>
			<div class="text-center" v-else>Комментариев нет</div>
		</footer>
	</article>
</template>
<script>
    import AppComment from '@/components/main/Comment'
    import AppCommentForm from '@/components/main/CommentForm'

    export default {
        data() {
            return {
                canAddComment: true
            }
        },
        async asyncData( { store, params } ) {
            const post = await store.dispatch( `post/FETCH_BY_ID`, params.id )
            await store.dispatch( 'post/ADD_VIEW', post )
            return {
                post: { ...post, views: ++post.views }
            }
        },
        validate( { params } ) {
            return Boolean( params.id )
        },
        methods: {
            createCommentHandler(comment) {
                this.post.comments.unshift(comment)
                this.canAddComment = false
            }
        },
        components: {
            AppComment,
            AppCommentForm
        }
    }
</script>

<style scoped lang="scss">
	.post {
		max-width: 600px;
		margin: 0 auto;

		&__title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 1rem;
		}

		&__info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: .5rem;
		}

		&__image {
			width: 100%;
			height: auto;
		}

		&__header {
			margin-bottom: 1.5rem;
		}

		&__content {
			margin-bottom: 2rem;
		}
	}
</style>
