<template>
	<div class="">
		<h1>Аналитика по постам</h1>
		 <app-analytic-chart
				 title="Количество просмотров"
				 :labels="views.labels"
				 :data="views.data"
		 />
		<app-analytic-chart
				title="Количество комментариев"
				:labels="comments.labels"
				:data="comments.data"
		/>
	</div>
</template>

<script>
    import AppAnalyticChart from "../../components/admin/AnalyticChart"
    export default {
        layout: 'admin',
        middleware: ['admin-auth'],

        async asyncData( { store } ) {
			const {views, comments}= await store.dispatch('post/GET_ANALYTIC')
			return {views, comments}
        },
		components: {
            AppAnalyticChart
		}
    }
</script>

<style scoped lang="scss">

</style>
