<template>
	<el-card
			:style="{ width: '500px'}"
			shadow="always">
		<el-form @submit.native.prevent="onSubmit" :model="controls" :rules="rules" ref="form">
			<h2 class="mb">Войти в панель администратора</h2>
			<el-form-item label="Login" prop="login">
				<el-input v-model.trim="controls.login"/>
			</el-form-item>
			<div class="mb">
				<el-form-item label="Password" prop="password">
					<el-input v-model.trim="controls.password" type="password"/>
				</el-form-item>
			</div>
			<el-form-item>
				<el-button
						type="primary"
						native-type="submit"
						:loading="loading"
				>Sing in
				</el-button>
			</el-form-item>
		</el-form>
	</el-card>
</template>

<script>
    export default {
        layout: 'empty',
        props: {},
        data() {
            return {
                loading: false,
                controls: {
                    login: '',
                    password: ''
                },
                rules: {
                    login: [
                        { required: true, message: 'Input login', trigger: 'blur' },
                    ],
                    password: [
                        { required: true, message: 'Input password', trigger: 'blur' },
                        { min: 6, message: 'Пароль должен быть не меньше 6-ти символов', trigger: 'blur' }
                    ],
                }
            }
        },
        computed: {},
        methods: {
            onSubmit() {
                this.$refs.form.validate( async valid => {
                    if ( valid ) {
                        this.loading = true

                        try {
                            const formData = {
                                login: this.controls.login,
                                password: this.controls.password
                            }
                            await this.$store.dispatch( 'auth/LOGIN', formData )
                            await this.$router.push( '/admin' )
                        } catch ( e ) {
                            this.loading = false
                        }
                    }
                } )
            }
        },
        mounted() {
            const { message } = this.$route.query

            switch ( message ) {
                case'login':
                    this.$message( { message: 'Для начала войдите в систему', type: 'info' } )
                    break
                case 'logout':
                    this.$message( { message: 'Вы вышли из системы', type: 'success' } )
                    break
                case 'session':
                    this.$message.warning('Вермя сессии истелко, пожалуйста зайдети заново')
                    break
            }

        },

    }
</script>

<style scoped lang="scss">

</style>
