<template>
	<div>
		<h1>Logout</h1>
	</div>
</template>

<script>
    export default {
        layout: 'admin',
        middleware: ['admin-auth'],
        name: "Create",
        beforeCreate() {
            this.$store.dispatch( 'auth/LOGOUT' )
			this.$router.push('/admin/login?message=logout')
        }
    }
</script>

<style scoped>

</style>
