<template>
	<el-form @submit.native.prevent="onSubmit" :model="controls" :rules="rules" ref="form">
		<h2 class="mb">Создать пользователя</h2>
		<el-form-item label="Login" prop="login">
			<el-input v-model.trim="controls.login"/>
		</el-form-item>
		<div class="mb">
			<el-form-item label="Password" prop="password">
				<el-input v-model.trim="controls.password" type="password"/>
			</el-form-item>
		</div>
		<el-form-item>
			<el-button
					type="primary"
					native-type="submit"
					:loading="loading"
			>Создать
			</el-button>
		</el-form-item>
	</el-form>
</template>

<script>
    export default {
        layout: 'admin',
        middleware: [ 'admin-auth' ],
        data() {
            return {
                loading: false,
                controls: {
                    login: '',
                    password: ''
                },
                rules: {
                    login: [
                        { required: true, message: 'Input login', trigger: 'blur' },
                    ],
                    password: [
                        { required: true, message: 'Input password', trigger: 'blur' },
                        { min: 6, message: 'Пароль должен быть не меньше 6-ти символов', trigger: 'blur' }
                    ],
                }
            }
        },
        methods: {
            onSubmit() {
                this.$refs.form.validate( async valid => {
                    if ( valid ) {
                        this.loading = true

                        try {
                            const formData = {
                                login: this.controls.login,
                                password: this.controls.password
                            }
                            await this.$store.dispatch( 'auth/CREATE_USER', formData )
                            this.$message( { message: 'Новый пользователь добавлен', type: 'success' } )
                            this.controls.login = ''
                            this.controls.password = ''
                            this.loading = false
                        } catch ( e ) {
                            this.loading = false
                        }
                    }
                } )
            }
        }
    }
</script>

<style scoped lang="scss">
	form {
		width: 600px;
	}
</style>
