<template>
	<el-card class="comment">
		<div class="comment__header">
			<span>{{ comment.name }}</span>
			<span>
				<i class="el-icon-time"></i> {{ comment.date }}
			</span>
		</div>
		<div class="comment__text">
		 {{ comment.text }}
		</div>
	</el-card>
</template>

<script>
    export default {
        props: {
          comment: {
              type: Object,
              required: true
		  }
		},
        data() {
            return {}
        },
        computed: {},
        methods: {},
        mounted() {
        },
        created() {
        },
    }
</script>

<style scoped lang="scss">
	.comment {
		margin-bottom: 1rem;

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: .5rem;
			font-size: .8rem;
		}
		&__text {
			white-space: pre-line;
		}

	}
</style>
