<template>
	<div class="">
		<nav>
			<h1>SSR BLOG</h1>
		</nav>
	</div>
</template>


<script>
    export default {
        props: {},
        data() {
            return {}
        },
        computed: {},
        methods: {},
    }
</script>

<style scoped lang="scss">
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		border-bottom: 1px solid #e6e6e6;
	}
</style>
