<template>
	<el-card
			shadow="hover"
			:body-style="{padding: 0}"
			class="post"
	>
		<header slot="header" class="post__header">
			<h3>{{post.title}} </h3>
			<small><i class="el-icon-time"></i> {{ post.date}}</small>
		</header>
		<div class="post__body">
			<img
					:src="post.imageUrl"
					class="post__image"
					alt="bmw"/>
		</div>
		<footer
				class="post__footer"
		>
			<el-button
					plain
					type="primary"
					@click="openPost"
			>Open
			</el-button>

			<span>
				<i class="el-icon-message"></i>
				{{post.comments.length}}
			</span>
		</footer>
	</el-card>
</template>

<script>
    export default {
        props: {
            post: {
                type: Object,
				required: true
			}
		},
        data() {
            return {}
        },
        computed: {},
        methods: {
            openPost() {
                const id = this.post._id
                this.$router.push( `/post/${ id }` )
            }
        },

    }
</script>

<style scoped lang="scss">
	.post {
		margin-bottom: 1.5rem;

		&__header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__body {

		}

		&__image {
			width: 100%;
			height: auto;
			background-size: cover;
		}

		&__footer {
			padding: 1rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
</style>
