<template>
	<div class="page_wrap">
		<el-breadcrumb separator="/" class="mb">
			<el-breadcrumb-item to="/admin/list">Посты</el-breadcrumb-item>
			<el-breadcrumb-item>{{ post.title }}</el-breadcrumb-item>
		</el-breadcrumb>

		<el-form @submit.native.prevent="onSubmit" :model="controls" :rules="rules" ref="form">
			<!--			<h2 class="mb">Войти в панель администратора</h2>-->
			<el-form-item label="Текст в формате .md или .html" prop="text">
				<el-input
						v-model.trim="controls.text"
						type="textarea"
						resize="none"
						:rows="10"
				/>
			</el-form-item>
			<div class="mb">
				<small>
					<i class="el-icon-time"></i>
					<span>created: {{ new Date(post.date).toLocaleString() }}</span>
				</small>
				<div style="margin-bottom: 5px"></div>
				<small>
					<i class="el-icon-view"></i>
					<span>watched: {{ post.views }}</span>
				</small>
			</div>
			<el-form-item>
				<el-button
						type="primary"
						native-type="submit"
						:loading="loading"
				>Обновить
				</el-button>
			</el-form-item>
		</el-form>
	</div>
</template>

<script>
    export default {
        head() {
            return {
                title: `Пост | ${ this.post.title }`
            }
        },
        validate( { params } ) {
            return Boolean( params.id )
        },
        layout: 'admin',
        middleware: [ 'admin-auth' ],
        async asyncData( { store, params } ) {
            const post = await store.dispatch( 'post/FETCH_ADMIN_BY_ID', params.id )
            return { post }
        },
        data() {
            return {
                loading: false,
                controls: {
                    text: '',
                },
                rules: {
                    text: [
                        { required: true, message: 'Текст не должен быть пустым', trigger: 'blur' },
                    ],
                }
            }
        },
        methods: {
            onSubmit() {
                this.$refs.form.validate( async valid => {
                    if ( valid ) {
                        this.loading = true
                        const formData = {
                            text: this.controls.text,
                            id: this.post._id
                        }
                        try {
                            await this.$store.dispatch( 'post/UPDATE', formData )
                            this.$message.success( 'Пост обновлен' )
                            this.loading = false
                        } catch ( e ) {
                            this.loading = false

                        }

                    }
                } )
            }
        },
        mounted() {
			this.controls.text = this.post.text
        }
    }
</script>

<style scoped lang="scss">
	.page_wrap {
		width: 600px;
	}
</style>
