<template>
	<div class="admin_layout">
		<el-container :style="{height: '100%'}">
			<el-aside width="250px">
				<app-aside/>
			</el-aside>
			<el-container>
				<el-header></el-header>
				<el-main>
					<Nuxt/>
				</el-main>
				<el-footer></el-footer>
			</el-container>
		</el-container>
	</div>
</template>

<script>
    import AppAside from '../components/admin/Aside'

    export default {
     
        computed: {
            error() {
                return this.$store.getters.error
            }
        },
        watch: {
            error( value ) {
                this.$message.error( value.response.data.message )
            },
        },

        components: {
            AppAside
        }
    }
</script>

<style scoped lang="scss">
	.admin_layout {
		width: 100%;
		height: 100vh;
	}
</style>
