<template>
	<el-container>
		<el-header>
			<app-navigation/>
		</el-header>
		<el-main>
			<Nuxt/>
		</el-main>
		<el-footer/>
	</el-container>
</template>

<style></style>


<script>
    import AppNavigation from '../components/main/Navigation'

    export default {
        props: {},
        data() {
            return {}
        },
        computed: {},
        methods: {},
        components: {
            AppNavigation
        }
    }
</script>

<style scoped lang="scss">

</style>
