<template>
	<div class="empty_layout">
		<Nuxt/>
	</div>
</template>

<script>
    export default {
        name: "empty",
		computed: {
            error() {
                return this.$store.getters.error
			}
		},
		watch: {
            error( value ) {
                this.$message.error( value.response.data.message )
            },
		}
    }
</script>

<style scoped lang="scss">
	.empty_layout {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		padding-top: 4rem;
	}
</style>
