<template>
	<div class="error">
		<div class="error__content">
			<h1 class="error__title">Ошибка 404</h1>
			<nuxt-link to="/">Вернуться на главную</nuxt-link>
		</div>
	</div>
</template>


<style lang="scss" scoped>
	.error {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		&__content {
			padding-top: 4rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		&__title {
			color: #ff444e;
			margin-bottom: 1rem;
			text-align: center;
		}
	}
</style>
