<template>
	<el-menu
			router
			:style="{height: '100%'}"
			:default-active="this.$route.path"
			class="el-menu-vertical-demo">
		<el-menu-item index="/admin">
			<i class="el-icon-menu"></i>
			<span>Аналитика</span>
		</el-menu-item>
		<el-menu-item index="/admin/create">
			<i class="el-icon-edit-outline"></i>
			<span>Создать</span>
		</el-menu-item>
		<el-menu-item index="/admin/list">
			<i class="el-icon-tickets"></i>
			<span>Посты</span>
		</el-menu-item>
		<el-menu-item index="/admin/user">
			<i class="el-icon-user"></i>
			<span>Пользователи</span>
		</el-menu-item>
		<el-menu-item index="/admin/logout">
			<i class="el-icon-setting"></i>
			<span>Выйти</span>
		</el-menu-item>
	</el-menu>

</template>

<script>
    export default {
        props: {},
        data() {
            return {}
        },
        computed: {},
        methods: {},
        mounted() {
        },
        created() {
        },
    }
</script>

<style scoped lang="scss">

</style>
