<template>
	<el-row type="flex" align="top" justify="center">
		<el-col :xs="24" :sm="18" :md="12" :lg="10">
			<app-post
					v-for="post in posts"
					:key="post._id"
					:post="post"
			/>
		</el-col>
	</el-row>
</template>

<script>
    import AppPost from '../components/main/Post'

    export default {
        head: {
            title: 'Главная'
        },
        async asyncData( { store } ) {
            const posts = await store.dispatch( 'post/FETCH' )
			return {posts}
        },
        props: {},
        data() {
            return {}
        },
        computed: {},
        methods: {},
        components: {
            AppPost
        }
    }
</script>

<style scoped lang="scss">

</style>
